<template>
  <b-container>
        <b-row>
            <b-col>
            <h3>Your score: {{score}}</h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
            <button @click="startNewGame">Start new game</button>
            </b-col>
        </b-row>
    
    </b-container>
</template>

<script>
export default {
    name: 'ResultPage',
    created() {
        this.score = sessionStorage.getItem('score')
    },
    data() {
        return {
            score: null
        }
    },
    methods: {
        startNewGame() {
            sessionStorage.removeItem('score');
            this.$router.push({name: 'TriviaGame'});
        }
    }
}
</script>

<style>

</style>