<template>
<div>
    <b-container>
        <b-row>
            <b-col>
            <h3>Welcome to trivia game</h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
            <button @click="startGame">Start Game</button>
            </b-col>
        </b-row>
    
    </b-container>
</div>
</template>

<script>
export default {
    name: "StartPage",
    methods: {
        // handles button clicks
        startGame() {
        this.$router.push({name: 'TriviaGame'});
        }
    }
}
</script>

<style>

</style>