<template>

  <div class="question-list">
    <b-container id="question-container">
      <b-row>
        <b-col>
        <h4>Score: {{score}}</h4>
        </b-col>
      </b-row>
      <!-- Score row -->

      <b-row>
        <b-col>
        <h2 class="category" v-if="questions != null">Category: {{questions[index].category}}</h2>
        </b-col>
      </b-row>
      <!-- question row -->

      <b-row>
        <b-col>
        <h2 class="question" v-if="questions != null" v-html="questions[index].question"></h2>
        </b-col>
      </b-row>
      <!-- question row -->

      <b-row v-for="answer of answers[index]" :key="answer">
          <b-col>
        <button v-on:click="onClick(answer)" v-html="answer"></button>
          </b-col>
      </b-row>

      <b-progress class="progress-bottom" :value="index*10" :variant="'warning'" :max="max" show-progress animated></b-progress>
      
    </b-container>
  </div>
</template>

<script>
import { getQuestions } from "../API/QuestionsAPI";

//Shuffles the objects inside an array
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}

export default {
  name: "TriviaGame",
  async created() {
    this.questions = await getQuestions();

	//go through the questions and add the answer in an own array
    for (let index = 0; index < this.questions.length; index++) {
      this.answers[index] = [
        ...this.questions[index].incorrect_answers,
        this.questions[index].correct_answer,
      ];
      shuffleArray(this.answers[index]);
    }
  },
  data() {
    return {
      score: 0,
      index: 0,
      questions: null,
      answers: [],
      max:100
    };
  },
  methods: {
  // handles button clicks
    onClick(answer) {
      if(this.index < this.questions.length - 1){
        if (answer === this.questions[this.index].correct_answer) {
          this.score += 100;
        } 
        this.index += 1;
        
      } 
      //Finished game
      else {
        sessionStorage.setItem('score', this.score);
        this.$router.push({name: 'ResultPage'});
      }
      
    },
  },
};
</script>

<style>

.progress-bottom {
  position: absolute;

  bottom: 15px;
  width: 80%;
}

</style>